/* Related Component */
.related-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid green;
}
/* End of Related Component */

/* Carousel */
.main-slider-container {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid orange;
  justify-content: center;
}

.slider {
  /* border: 2px solid blue; */
  white-space: nowrap;
  width: 75%;
  height: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}
.slider-icon {
  border-radius: 50%;
  position: absolute;
  font-size: 40px;
  border: 1px solid black;
  opacity: .4;
  box-shadow: 2px 2px 2px 2px #0000001f;
}

.left {
  visibility: hidden;
}
.slider-icon:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.slider-icon:hover {
  opacity: 1;
  cursor: pointer;
}
 .slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.card{
  min-width: 300px;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 10px 10px 10px 10px #0000001f;
  position: relative;
  opacity: .75;
}

.card:hover {
  opacity: 1;
}

.cardImage {
  width: 300px;
  height: 325px;
  /* width: 400px;
  height: 450px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
  object-fit: cover;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.25;
}

.compare-button {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 1px solid black;
  padding: 5px;
  background-color: gray;
  color: white;
  /* width: 25px;
  height: 25px; */
}

.compare-button:hover {
  /* color: #f8d568; */
  color: #ffae42;
  background-color: white;
  cursor: pointer;
}
/* End of Carousel Component*/

/* Start of Modal */
.container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:60%;
  height: 300px;
  background-color: white;
  /* position was relative */
  position: relative;
  padding: 25px;
  opacity: 1;

}


.modalTable{
  position: relative;
  overflow-y: scroll;
  width: 60;
  height: auto;
  text-align: center;
  border-spacing: 0 25px;
}


table, th, td {
  border-collapse: collapse
}

.table-header {
  /* text-align: center; */
  color: #474E68;
}

.check-icon {
  color: green;
}
.close-button {
  position: absolute;
  top: 25px;
  right: 45px;
  height: 30px;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
}
/* End of Modal */

/* Outfit Card */
.outfit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;

  /* opacity: 1; */
}

.outfit-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
.plus-icon {
  position: absolute;
  font-size: 2rem;
  top: 25px;
  right: 25px;
}

/* End Outfit Card */

/* remove button */
.remove-button {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}
/* remove button end */