/* Made a style sheet! Using it loosely until we decide on some stuff as a group :) */
/* GENERAL (applies to all widgets)*/

/*
  global
  styles
  will
  go
  here
*/

/*
  ==== =============== ============ ====== START Overview WIDGET ========== ========= =========== ============ =======
*/

#Container1A {
  border-style: solid;
  border-width: 2px;
  display: flex;
}

#Container1B {
  border-style: solid;
  border-width: 2px;
}

#Container1Aa {
  min-width: 60%;
}

/* Start CONTAINER1Aa*/

#IG1 {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
}

#IG1a { /* thumbnail gallery */
  grid-area: 1 / 1 / 1 / 2;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 600px;
  overflow: auto;
  padding: 5px;
  direction: rtl;
}

#IG1b {
  grid-area: 1 / 1 / 1 / 3;
  background-color: black;
  border-style: solid;
  border-width: 0.5px;
  display:grid;
  max-width: 100%;
}

#mainPhoto {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 600px;
}

.zoom-in{
  cursor: zoom-in;
}

.zoom-out{
  cursor: zoom-out;
}

#thumbNailPhoto {
  height: auto;
  max-width: 95%;
  align-self: center;
  opacity: 0.25;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
}

.mainThumbnail {
  opacity: 0.85 !important;
}

.hovered {
  opacity: 0.95 !important;
}

/* End CONTAINER1Aa*/
/* Start CONTAINER1Ab*/

#Container1Ab {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 5px;
}

/* ======= ======= ======== PI1 ======= ======= ========= ====== ==== */

#PI1 {
  height: 28%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#PI1A {
  width: 95%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 13%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

#PI1Aa {
  font-size: small !important;
}

#PI1Ab {
  font-size: small !important;
}

#PI1B {
  width: 95%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 65%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

#PI1Ba {
  font-size: medium !important;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: lighter;
}

#PI1Bb {
  font-size: x-large !important;
  padding-left: 10px;
  font-weight: bold;
  justify-self: center;
}

#PI1C {
  width: 95%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 13%;
  align-self: center;
  display: flex;
  flex-direction: row;
}

#PI1Cnormal {
  padding: 3px;
}

#PI1Csale {
  padding: 3px;
  color: red;
  text-decoration: line-through;
}


/* ======= ======= ======== SS1 ======= ======= ========= ====== ==== */


#SS1 {
  min-height: 37%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

#SS1A {
  height: 13%;
  width: 95%;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

#styleInd {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

#styleName {
  font-weight: lighter;
  padding-left: 5px;
  padding-right: 5px;
}

#SS1B {
  height: 83%;
  width: 95%;
  padding: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10%;
  align-content: center;
  justify-content: space-evenly;
}

#SS1Ba {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  position: relative;
}

#selectedCheck {
  position: absolute;
  top: 5%;
  left: 70%;
}

#fakeSS1Ba {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
}

#SSThumbnail {
  max-width: 150%;
  height:auto;
  justify-self: center;
}



/* ======= ======= ======== ATC1 ======= ======= ========= ====== ==== */

#ATC1 {
  height: 26%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

#ATC1A {
  height: 45%;
  width: 95%;
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#ATC1Aa {
  width: 60%;
  height: auto;
  border-width: 1px;
  /* border-color: green; */
  /* border-style: solid; */
  align-self: center;
  /* justify-content: center; */
  position: relative;
  display: flex;
  flex-direction: column;
}

#ATC1Aa1 { /* displays singular current size*/
  height: 100%;
  background-color: aliceblue;
  /* width: 80%; */
  border-width: 1px;
  /* border-color: blue; */
  /* border-style: solid; */
  justify-self: center;
  align-self: center;
  /* position: absolute; */
}

#ATC1Aa2 { /* displays sizes list*/
  height: 100%;
  background-color: aliceblue;
  /* width: 80%; */
  border-width: 1px;
  /* border-color: orange; */
  /* border-style: solid; */
  align-self: center;
  /* position: absolute; */
}

#ATC1Ab {
  width: 20%;
  width: 60%;
  height: auto;
  border-width: 1px;
  /* border-color: green; */
  /* border-style: solid; */
  align-self: center;
  /* justify-content: center; */
  position: relative;
  display: flex;
  flex-direction: column;
}

#ATC1Ab1 { /* displays singular current size*/
  height: 100%;
  background-color: aliceblue;
  /* width: 80%; */
  border-width: 1px;
  /* border-color: blue; */
  /* border-style: solid; */
  justify-self: center;
  align-self: center;
  /* position: absolute; */
}

#ATC1Ab2 { /* displays sizes list*/
  height: 100%;
  background-color: aliceblue;
  /* width: 80%; */
  border-width: 1px;
  /* border-color: orange; */
  /* border-style: solid; */
  align-self: center;
  /* position: absolute; */
}


#ATC1B {
  height: 45%;
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

#ATC1Ba {
  width: 60%;
  height: auto;
  border-width: 1px;
  border-color: green;
  border-style: solid;
  align-self: center;
  /* justify-content: center; */
}

#ATC1Bb {
  width: 20%;
  height: auto;
  border-width: 1px;
  border-color: green;
  border-style: solid;
  align-self: center;
  /* justify-content: center; */
}

/* ========= ============ =========== =======END OF OVERVIEW WIDGET ========== ============== ================== ========== ===*/

/*
  Relate And Compare WIDGET
*/


/*
  Ratings and Reviews WIDGET
*/

/* Common Styles */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.border {
  border: 1px solid black;
}

.containerHalf {
  width: 50%;

}

/* Stars */
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}
.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}




/*
  ==== =============== ============ ====== Relate and Compare WIDGET ========== ========= =========== ============ =======
*/
.RelateAndCompare {
  /* display: flex;
  justify-content: center; */
  text-align: center;
  height: 1500px;
  border: 1px solid black;
  /* background-color: green; */
}
.Relate-Container {
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.outfit {
  height: 45%;
  width: 100%;
  margin-top: 50px;
  /* background-color: bisque; */
}
/* Slider */
.ReactCardSlider-body {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
  padding-bottom: 0;
}

.main-slider-container {
  width: 90%;
  height: 420px;
  position: relative;
  display: flex;
  align-items: center;
  /* background-color: blue; */
  justify-content: center;
  /* being hidden by yellow right now */
}
#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar{
  display:none;
}

.slider-icon.left, .slider-icon.right{
  background-color: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px #0000001f;

}

.slider-icon.left:hover, .slider-icon.right:hover {
  opacity: 1;
  cursor: pointer;
}

.slider-icon.right {
  right: 0;
}

.slider-icon.left {
  left: 0;
}

/* End Slider */

.card {
  width: 320px;
  height: 320px;
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 100px;
  box-shadow: 10px 10px 10px 10px #0000001f;
  padding-bottom: 35px;
 }

.cardImg {
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(240 240 240 /80%);
}
 .card-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 80%;
 }
.card-category, .card-name, .card-price, .card-sale-price {
  margin: 5px 0px 5px 10px;
  padding: 2px;
}
