/* Made a style sheet! Using it loosely until we decide on some stuff as a group :) */
/* GENERAL (applies to all widgets)*/

/*
  global
  styles
  will
  go
  here
*/

/*
Off-white background : #fffef5
Main dark font : #390c14
alt colored text : #a5497e

Rules to specify font families

font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

#root {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto auto;
}

#appContainer {
  font-family: 'Montserrat', sans-serif;
  color: #390c14;
  background-color: #fffef5;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  /* max-width: 1200px;
  min-width: 600px; */
  width: 64vw;
  overflow: hidden;
  justify-self: center;
}

#containerTransition {
  opacity: 0%;
  transition: opacity 300ms ease-in-out;
  height: 100%
}

#Banner {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 64vw;
  height: 8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  width: 100%;
  background-color: #fffef5;
  height: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  max-width: 30%;
}

#searchBar {
  padding: 2vw;
}

#searchIcon {
  max-width: 1.8vw;
  justify-self: center;
  align-self: center;
}

#announcementBar {
  background-color: #390c14;
  font-size: min(1vw, 12px);
  font-weight: 200;
  font-style: italic;
  color: #fffef5;
  width: 100%;
  height: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/*
  ==== =============== ============ ====== START Overview WIDGET ========== ========= =========== ============ =======
*/

/* #Overview {
  max-width: 1500px;
  position: relative;
} */

#Container1A {
  /* border-style: solid;
  border-width: 2px; */
  display: flex;
}

#Container1B {
  /* border-style: solid;
  border-width: 2px; */
  display: grid;
  grid-template-columns: 65% 35%;
  /* border-top-style: solid;
  border-top-width: 0.1vw; */
}

#Container1Aa {
  min-width: 65%;
  transition: min-width 500ms ease-in-out;
  display: flex;
  align-content: center;
  justify-content: center;
}

.expander {
  min-width: 100% !important;
  transition: min-width 500ms ease-in-out;
}

/*  CONTAINER1B */

#C1Bleft {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#C1Bright {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#productSlogan {
  font-weight: 500;
  /* font-style: italic; */
  font-size: min(1.8vw, 22px);
  padding: 1vw;
}

#productDescription {
  font-weight: 200;
  font-size: min(1.3vw, 15px);
  padding: 0 1vw 1vw;
  /* font-style: italic; */
}

#featureList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#featureCheck {
  width: 1.5vw;
  aspect-ratio: 1/1;
  margin-right: 1vw;
}

#listedFeature {
  font-weight: 200;
  font-size: min(1.2vw, 12px);
  /* font-style: italic; */
}


/* #featureList::marker {
  font-size: 0.1vw !important;
} */

#OverviewFeatures {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-left: 3vw;
  border-left-style: solid;
  border-width: 0.15vw;
}




/* Start CONTAINER1Aa*/

#IG1 {
  /* border-style: solid;
  border-width: 1px;
  padding: 3px; */
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  width: 100%;
  /* min-height: 100%; */
}

#IG1a { /* thumbnail gallery */
  grid-area: 1 / 1 / 1 / 2;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: visible;
  padding: 5px;
  direction: rtl;
}

#IG1b {
  grid-area: 1 / 1 / 1 / 3;
  background-color: black;
  /* border-style: solid;
  border-width: 0.5px; */
  display:grid;
  position: relative;
  /* max-width: 100%; */
}

#styledZoom {
  position: absolute;
  top: 50%;
  left: 50%;
}

#styledZoomImg {
  pointer-events: none;
}

#zoomContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: grid;
  z-index: 30;
  cursor: none;
}

.fancyZoom {
  pointer-events: all !important;
}

#mouseDiv {
  background-color: white;
  pointer-events: none;
  border-radius: 5%;
}

#mainPhoto {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  max-height: 700px;
  padding: 5px;
}

.zoom-in{
  cursor: zoom-in;
}

.zoom-out{
  cursor: zoom-out;
}

#thumbNailPhoto {
  height: auto;
  max-width: 95%;
  align-self: center;
  opacity: 0.25;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
}

.mainThumbnail {
  opacity: 0.85 !important;
}

.hovered {
  opacity: 0.95 !important;
}

#iconGall {
  position: absolute;
  top: 92%;
  justify-self: center;
  width: auto;
  height: auto;
  z-index: 50;
  pointer-events: none;
  opacity: 0%;
  transition: opacity 500ms ease-in-out;
}

#thumbnailIcon {
  width: 4vw;
  height: auto;
}

/* End CONTAINER1Aa*/
/* Start CONTAINER1Ab*/

#Container1Ab {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vw;
  position: relative;
  transition: opacity 500ms ease-in-out;
}


.hideContainer {
  opacity: 0%;
  pointer-events: none;
  transition: opacity 500ms ease-in-out;
}

.revealContainer {
  opacity: 100% !important;
  pointer-events: all !important;
  transition: opacity 500ms ease-in-out;
}

/* ======= ======= ======== PI1 ======= ======= ========= ====== ==== */

#PI1 {
  /* height: 10vw; was working well around mid-20s %. going to try out vw's */
  /* border-style: solid;
  border-color: black;
  border-width: 3px; */
  padding: 1vw 0.5vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#PI1A {
  width: 100%;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  height: auto;
  /* align-self: center; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#PI1Aa {
  padding-bottom: 0.5vw;
  margin-right: 1vw;
}

#PI1Ab {
  font-size: min(0.85vw, 10px);
  font-weight: 200;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-left: 1vw;
}

#PI1B {
  width: 95%;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  height: auto;
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  justify-self: center;
}

#PI1Ba {
  font-size: min(1.5vw, 18px);
  color: #a5497e;
  /* padding-left: 10px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  font-weight: lighter;
}

#PI1Bb {
  font-size: min(3vw, 36px);
  /* padding-left: 10px; */
  font-weight: bold;
  justify-self: center;
}

#PI1C {
  width: 95%;
  /* border-style: solid;
  border-color: black;
  border-width: 2px; */
  height: auto;
  /* align-self: center; */
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5vw;
  font-size: min(1.5vw, 18px);
  font-weight: 200;
}

#PI1Cnormal {
  padding: 0.5vw 0.5vw 0.5vw 0vw;
}

#PI1Csale {
  padding: 0.5vw 0.5vw 0.5vw 0vw;
  color: red;
  text-decoration: line-through;
}


/* ======= ======= ======== SS1 ======= ======= ========= ====== ==== */


#SS1 {
  /* min-height: 37%; */
  height: auto;
  /* border-style: solid;
  border-color: black;
  border-width: 3px; */
  padding: 0vw 0.5vw 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#SS1A {
  /* height: 13%; */
  width: 22vw;
  font-size: min(1.5vw, 18px);
  /* padding-left: 0.5vw; */
  padding-top: 0.5vw;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: row;
}

#styleInd {
  font-weight: bold;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#styleName {
  font-weight: lighter;
  color: #a5497e;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

#SS1B {
  height: auto;
  width: 20vw;
  max-width: 350px;
  /* padding: 3%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 1vw;
  align-content: flex-start;
  justify-content: space-evenly;
}

#SS1Ba {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  /* overflow: hidden; */
  /* border-style: solid; */
  /* border-color: #a5497e; */
  /* border-width: 0.15vw; */
  /* position: relative; */
  margin-right: 3%;
  position: relative;
}

#styleCheck {
  position: absolute;
  left: 65%;
  width: 1.8vw;
  z-index: 10;

}

#thumbnailContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border-style: solid;
  border-color: #a5497e;
  /* border-width: 0.15vw; */
  position: relative;
}

#fakeSS1Ba {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
}

#SSThumbnail {
  max-width: 200%;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}



/* ======= ======= ======== ATC1 ======= ======= ========= ====== ==== */

#ATC1 {
  height: auto;
  color: #a5497e;
  /* border-style: solid;
  border-color: black; */
  border-width: 3px;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
}

#ATC1A {
  height: 6vw;
  width: 20vw;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: min(1.3vw, 16px)
}

.sizesDropdown {
  width: 10vw;
  display: flex;
  position: relative;
  height: 3vw;
  justify-content: center;
  align-self: center;
  border-style: solid;
  border-width: 0.15vw;
  margin-right: 1.5vw;
}

#ATC1Aa {
  width: 60%;
  height: auto;
  border-width: 1px;
  align-self: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  background: none;
  /* padding: 80% 0%; */
}

#ATC1Aa1 { /* displays singular current size*/
  height: 100%;
  border-width: 1px;
  align-self: center;
  background: none;
}

#ATC1Aa2 { /* displays sizes list*/
  /* height: 100%;
  top: 100%; */
  position: relative;
  background-color: #fbf6f7;
  border-width: 1px;
  /* align-self: center; */
  padding: 0.5vw;
  text-align: center;
}

.sizesDDTwo {
  position: absolute;
  top: 3vw;
  width: 10vw;
  opacity: 0;
  pointer-events: none;
}

.qtyDD {
  position: absolute;
  top: 4vw;
  opacity: 0;
  pointer-events: none;
  width: 5vw;
  text-align: center;
}

.active {
  /* position: absolute;
  top: 150%; */
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  pointer-events: auto;
}

#ATC1Ab {
  width: 1vw;
  height: 3vw;
  border-style: solid;
  border-width: 0.15vw;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
}

#ATC1Ab1 { /* displays singular current size*/
  height: auto;
  /* background-color: white; */
  border-width: 1px;
  justify-self: center;
  align-self: center;
}

#ATC1Ab2 { /* displays sizes list*/
  height: 100%;
  background-color: #fbf6f7;
  /* width: 80%; */
  border-width: 1px;
  /* border-color: orange; */
  /* border-style: solid; */
  align-self: center;
  /* position: absolute; */
  padding: 0.2vw;
}


#ATC1B {
  height: 6vw;
  width: 20vw;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-weight: bolder;
  font-size: min(1.3vw, 16px);
  /* height: 45%;
  width: 95%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center; */
}

#ATC1Ba {
  width: 12vw;
  height: 3vw;
  font-weight: bolder;
  font-size: min(1.3vw, 16px);
  justify-content: center;
  /* align-self: center; */
  border-style: solid;
  border-width: 0.15vw;
  display: flex;
  margin-right: 1.5vw;
}

#ATC1BaText {
  align-self: center;
  justify-self: center;
}

#ATC1Bb {
  height: 3vw;
  aspect-ratio: 1/1;
  border-style: solid;
  border-width: 0.15vw;
  /* align-self: center; */
  display: grid;
}

#heartIcon {
  max-width: 2.3vw;
  justify-self: center;
  align-self: center;
}

.hoverBackground {
  background-color: #fbf6f7;
}

/* ========= ============ =========== =======END OF OVERVIEW WIDGET ========== ============== ================== ========== ===*/

/*
  Relate And Compare WIDGET
*/


/*
  Ratings and Reviews WIDGET
*/

/* Common Styles */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.border {
  border: 1px solid black;
}

.containerHalf {
  width: 50%;

}

/* Stars */
.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}
.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

/* Made a special version of these two stars things with a W at the end for me to use in overview! */
.empty-starsW:before, .full-starsW:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 1vw;
}

.full-starsW {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

/* end of special willy version lol */

.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 12pt;
}

select {
  border: none;
}

/* Ratings Bars */
.wrapper {
  width: 80%;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
}

.progress-bar-fill {
  display: block;
  height: 14px;
  background-color: green;
  transition: width 500ms ease-in-out;
}

/* Feature Bars */
.feature-bar {
  position: relative;
  width: 100%;
}




/*
  ==== =============== ============ ====== Relate and Compare WIDGET ========== ========= =========== ============ =======
*/


/*
  ==== =============== ============ ====== Questions and Answers WIDGET ========== ========= =========== ============ =======
*/

.questions-and-answers {
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.qna-scroll {
  overflow: scroll;
  height:620px;
}

.question {
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
}


.modal-container {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: white;
  box-shadow: black, 0px 5px 15px;

}

.helpfulScore {
  position: relative;
}